# Application
TZ=Asia/Shanghai

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_DATABASE=dataflow
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# n8n
N8N_HOST=localhost
N8N_PORT=5678
N8N_ENCRYPTION_KEY=

# Backend
BACKEND_PORT=8080

# Frontend
FRONTEND_PORT=5173
